%h2 Current Screenings
%div{'class' => 'row m-3'}
    %div{'class' => 'current-showings-container'}
        - @showings = Showing.getCurrentShowings
        - @test.each do |showing|
            %div{'class' => 'current-showing'}
                - if @film.poster.attached?
                    %img{:src => "#{url_for(@film.poster)}"}
                - else
                    %p "No image available"
                

    

  