
%div{'class' => 'banner-container', 'style' => "background-image: url('#{image_url('seats.jpg')}')"}
  %div{'class' => 'overlay'}
    %div{'class' => 'banner-text'}
      %h1= t('app_title')
      %p= t('app_description')

  