
%div{'class' => 'container-fluid'}
  %div{'class' => 'content-header'}
    %h1= t('.title')
    %p= t('.sub_title')
  %div{'class' => 'container-fluid content-main'}
    = render('home/home-films')


    //= render 'home/home-screenings-block'

// On this week





  // Top films





  // All showings by date