%div{'class' => 'film-page-title'}
  %h1 Film Directory
%div{'class' => 'future-films container-fluid'}
  %h2{'class' => 'film-header'} Future Films
  %div{'class' => 'film-container'}
    - @futureFilms.each do |film|
      %div{'class' => 'film-item'}
        %a{'href' => "#{film_path(film)}"}
          - if film.poster.attached?
            %img{:src => "#{url_for(film.poster)}"}
          - else
            %p "No image available"
%div{'class' => 'future-films container-fluid'}
  %div{'class' => 'film-container'}
    %h2{'class' => 'film-header'} All Films
    %div{'class' => 'film-container'}
      - @allFilms.each do |film|
        %div{'class' => 'film-item'}
          %a{'href' => "#{film_path(film)}"}
            - if film.poster.attached?
              %img{:src => "#{url_for(film.poster)}"}
            - else
              %p "No image available"

      
