//
// This partial is to setup the seating input so a user can select a seat they would like to book.
//

// setup variables

- @seats = @showing.room.seats




%div{'class' => 'container'}
    = @seats