/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 */



 @import "bootstrap";

 @import url('https://fonts.googleapis.com/css?family=Roboto');

$primary: rgb(212, 212, 212);

$rich_black: #070600;
$grey: #cac9ff;
$nice_red: #BA1B1D;
$dark_red: #6B0F11;

 html, body {
     font-family: 'Roboto', Arial, Helvetica, sans-serif;
     background-color: $rich_black;
     color: white;
     
 }


.active {
    border-bottom: 4px solid white;
}

 /* Header */
.main-header {
    nav {
        height: 75px;
        background-color: $nice_red;
        color: white;

        .nav-link {
            color: white;
        }

        .navbar-brand {
            color: white;
            font-weight: 700;
        }
    }

    .nav-two {
        p {
            margin: auto 5px;
        }

        .profile-button {
            padding: 8px;
            background-color: $rich_black;
            color: white;
            border-radius: 5px;
            a {
                color: white;
            }
        }
    }

    margin-bottom: 20px;
}

.main-footer {
     height: 60px;
     text-align: center;
}

main {
     min-height: 90vh;
}

a.back-button {
    background-color: $nice_red;
    border-radius: 5px;
    padding: 8px;
    color: white;
    text-decoration: none;
    margin: 20px 20px;
}

a.edit-button {
    background-color: $nice_red;
    border-radius: 5px;
    padding: 8px;
    color: white;
    text-decoration: none;
    margin: 20px 20px;
}

p.view-button {
    background-color: $nice_red;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    a {
        color: white;
    }
    
}

input.save-button {
    background-color: $nice_red;
    border-radius: 5px;
    padding: 8px;
    color: white;
    text-decoration: none;
    margin: 20px 20px;
}

.login-button {
    background-color: $dark_red;
    color: white;
}

.sign-up-button {
    background-color: $dark_red;
    color: white;
}

/*
*   Login form partial
*/

.login-partial{
    background-color: $nice_red;
    padding: 20px;
    border-radius: 5px;

    h2 {
        font-size: 24pt;
        font-weight: 600;
    }
}

.login-form-partial {
    .btn {
        color: $rich_black;
    }

    .remember-me {
        margin-top: 20px;
    }
}



/*
*   Other
*/

.custom-hr {
    border-top: 3px solid $dark_red;
    width: 80%;
}

/* width */
::-webkit-scrollbar {
width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
background: rgb(36, 36, 36);
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #b30000; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #880101; 
}

.sorry-message {
    color: $nice_red;
    text-align: center;
    margin-top: 500px;
}

