/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Roboto');

$primary: rgb(212, 212, 212);

 html, body {
     font-family: 'Roboto', Arial, Helvetica, sans-serif;
     background-color: black;
 }

 /* Header */
 .main-header {
    nav {
        height: 75px;
    }

    .nav-two {
        p, a {
            margin: auto 5px;
        }
    }

    margin-bottom: 20px;
 }

 .main-footer {
     height: 60px;
     text-align: center;
 }

 main {
     min-height: 90vh;
 }

 .bold {
     font-weight: 800;
 }

