// Place all the styles related to the Films controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
    width: 100%;
}

.film-showings-table {
    width: 100%;
}

.modal-details h3 {
    font-size: 12pt;
}