// Place all the styles related to the Films controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$rich_black: #070600;
$grey: #434343;
$nice_red: #BA1B1D;
$dark_red: #6B0F11;

.film-showings-table {
    width: 100%;
}

.modal-details h3 {
    font-size: 12pt;
}

.film-show {
    .film-img {
        img {
            width: 100%;
        }
    }

    .film-title {
		h1 {
			color: $nice_red;
			margin: 25px auto;
			text-align: center;
			border-bottom: 5px solid $nice_red;
			display: block;
			width: 100%;
		}
	}
}


/*
*	Index
*/

.future-films {
	height: 100%;
	width: 100%;
	margin: 30px auto;
	

	.film-item {
		height: 200px;
		margin: 10px 20px;
		display: inline-block;
		transition: all 200ms ease-in;
		
		img {
			height: 100%;
		}

		&:hover {
			transform: scale(1.2);
		}
	}

	.film-container {
		width: 100%;
		
	}
}

.film-header {
    color: $nice_red;
    margin: 25px auto;
    text-align: center;
    border-bottom: 5px solid $nice_red;
    display: block;
    width: 200px;
}

.film-page-title {
	h1 {
		color: $nice_red;
		margin: 50px auto;
		padding-bottom: 20px;
		text-align: center;
		border-bottom: 5px solid $nice_red;
		display: block;
		width: 500px;
	}

	p {

	}
}