// Place all the styles related to the Showings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.front-indicator {
    text-align: center;
    font-size: 24pt;
    background-color: grey;
    margin-bottom: 10px;
}

.booking-img {
	img {
		width: 200px;
	}
}



div.seatCharts-container {
	background-color: rgb(150, 150, 150);
	width: 100%;
	margin: 25px auto;
}
div.seatCharts-cell {

	height: 21px;
	width: 21px;
	margin: 8px;
	float: left;
	text-align: center;
	outline: none;
	font-size: 13px;
	line-height:21px;
    color: black;
    
    @media only screen and (max-width: 1200px) {
		// update box sizing
		height: 21px;
		width: 21px;
		margin: 8px;
    }

}
div.seatCharts-seat {
	color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: default;
}
div.seatCharts-seat:focus {
	border: none;
}
/*
.seatCharts-seat:focus {
	outline: none;
}
*/

div.seatCharts-space {
	background-color: rgb(150, 150, 150);
}
div.seatCharts-row {
	height: 40px;
}

div.seatCharts-row:after {
	clear: both;
}

div.seatCharts-seat.selected {
	background-color: rgb(99, 161, 255);
}

div.seatCharts-seat.focused {
	background-color: #00707c;
}

div.seatCharts-seat.available {
	&.disabled-seat-class {
		background-color: rgb(0, 0, 0);
	}
	&.standard-seat-class {
		background-color: rgb(0, 4, 128);
	}
}

div.seatCharts-seat.unavailable {
	background-color: rgb(109, 109, 109);
	cursor: not-allowed;
}

ul.seatCharts-legendList {
	list-style: none;
	float: right;
}
li.seatCharts-legendItem {
	margin-top: 10px;
	line-height: 2;
}


/*
*	Showing Page - /showings
*/

// Slider

#slider {
	position: relative;
	overflow-x: hidden;
	overflow-y: visible;
	margin: 20px auto 0 auto;
	border-radius: 4px;
	

	ul {
		position: relative;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			position: relative;
			display: block;
			float: left;
			margin: 0;
			padding: 0;
			width: 500px;
			max-width: 100%;
			height: auto;
			background: #ccc;
			text-align: center;
			line-height: 100px;
			
			img {
				width: 500px;
				height: auto;
			}

			span {
				position: absolute;
				bottom: 0;
				float: none;
				background-color: rgba(0, 0, 0, 0.7);
				width: 100%;
				height: 100px;
				text-decoration: none;
				color: white;
			}
		}
	}

	a.control_prev,
	a.control_next {
		position: absolute;
		top: 40%;
		z-index: 999;
		display: block;
		padding: 4% 3%;
		width: auto;
		height: auto;
		background: #2a2a2a;
		color: #fff;
		text-decoration: none;
		font-weight: 600;
		font-size: 18px;
		opacity: 0.8;
		cursor: pointer;
	}

	a.control_next {
		right: 0;
	}
}

