// Place all the styles related to the Showings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$rich_black: #070600;
$grey: #434343;
$nice_red: #BA1B1D;
$dark_red: #6B0F11;

.showing-show {
	.showing-img {
		img {
			width: 100%;
		}
	}

	.showing-title {
		h1 {
			color: $nice_red;
			margin: 25px auto;
			text-align: center;
			border-bottom: 5px solid $nice_red;
			display: block;
			width: 100%;
		}

		span {

		}
		
	}

	.book-button {
		background-color: $nice_red;
		color: white;
		padding: 15px;
		width: 300px;
		border-radius: 8px;
		margin: 50px auto;
	}
}


.front-indicator {
    text-align: center;
    font-size: 24pt;
    background-color: $grey;
	margin-bottom: 10px;
	color: $rich_black;
}

.booking-img {
	img {
		width: 200px;
	}
}

#make-booking {
	background-color: $nice_red;
	color: white;
	padding: 23px;
	width: 100%;
}

div.seatCharts-container {
	background-color: $nice_red;
	width: 100%;
	margin: 25px auto;
	border: 5px solid $nice_red;
}
div.seatCharts-cell {

	height: 21px;
	width: 21px;
	margin: 8px;
	float: left;
	text-align: center;
	outline: none;
	font-size: 13px;
	line-height:21px;
    color: white;
    
    @media only screen and (max-width: 1200px) {
		// update box sizing
		height: 21px;
		width: 21px;
		margin: 8px;
    }

}
div.seatCharts-seat {
	color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: default;
}
div.seatCharts-seat:focus {
	border: none;
}
/*
.seatCharts-seat:focus {
	outline: none;
}
*/

div.seatCharts-space {
	background-color: $nice_red;
}
div.seatCharts-row {
	height: 40px;
}

div.seatCharts-row:after {
	clear: both;
}

div.seatCharts-seat.selected {
	background-color: rgb(99, 161, 255);
}

div.seatCharts-seat.focused {
	background-color: #00707c;
}

div.seatCharts-seat.available {
	&.disabled-seat-class {
		background-color: $rich_black;
		color: white;
	}
	&.standard-seat-class {
		background-color: rgb(214, 162, 162);
	color: $rich_black;
	}
}

div.seatCharts-seat.unavailable {
	background-color: $dark_red;
	color: $rich_black;
	cursor: not-allowed;
}

ul.seatCharts-legendList {
	list-style: none;
	float: right;
	width: 200px;
}
li.seatCharts-legendItem {
	margin-top: 10px;
	line-height: 2;
	
	div {
		border: 3px solid white;
	}

	span {
		font-style: italic;
	}
}


/*
*	Showing Page - /showings
*/

// Slider

#slider {
	position: relative;
	overflow-x: hidden;
	overflow-y: visible;
	margin: 20px auto 0 auto;
	border-radius: 4px;
	

	ul {
		position: relative;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			position: relative;
			display: block;
			float: left;
			margin: 0;
			padding: 0;
			width: 500px;
			max-width: 100%;
			height: auto;
			background: #ccc;
			text-align: center;
			line-height: 100px;
			
			img {
				width: 500px;
				height: auto;
			}

			span {
				position: absolute;
				bottom: 0;
				float: none;
				background-color: rgba(0, 0, 0, 0.7);
				width: 100%;
				height: 100px;
				text-decoration: none;
				color: white;
			}
		}
	}

	a.control_prev,
	a.control_next {
		position: absolute;
		top: 40%;
		z-index: 999;
		display: block;
		padding: 4% 3%;
		width: auto;
		height: auto;
		background: #2a2a2a;
		color: #fff;
		text-decoration: none;
		font-weight: 600;
		font-size: 18px;
		opacity: 0.8;
		cursor: pointer;
	}

	a.control_next {
		right: 0;
	}
}


.showing-week {
	min-height: 500px;
	background-color: $nice_red;
	padding: 20px;
	.showing-week-container {
		height: 240px;
		padding: 20px;
		
		background-color: $rich_black;
		margin-top: 20px;
		border: 3px solid $rich_black;

		.showing-week-film {
			width: 20%;
			img {
				height: 100%;
			}

			@media only screen and (max-width: 760px) {
				width: 30%;
			}
		}

		.showing-week-showing-container {
			width: 80%;
			overflow: auto;
			white-space: nowrap;
			overflow-y: hidden;
			height: 100%;
			position: relative;
			margin-left: 20px;
			

			@media only screen and (max-width: 760px) {
				width: 70%;
			}

			.showing-week-showing {
				background-color: $dark_red;
				border-radius: 10px;
				height: 100%;
				margin: 0 20px;
				word-wrap: break-word;
				display: inline-block;
				position: relative;
				top:0;
				text-align: center;
				padding: 15px;
				margin: 0;
			}
		}
	}
}

/*
*	Showing Form
*/

.showing-form {
	width: 1000px;
	max-width: 100%;

	div {
		margin: 20px 0;
	}


	.start-date {
		label {
			color: $nice_red;
			font-style: italic;
		}

		select {
			border: 0;
			padding: 5px;
		}
	}

	.film {
		label {
			color: $nice_red;
			font-style: italic;
		}

		select {
			border: 0;
			padding: 5px;
		}
	}

	.room {
		label {
			color: $nice_red;
			font-style: italic;
		}

		select {
			border: 0;
			padding: 5px;
		}
	}
}



.page-header {
	color: $nice_red;
    margin: 25px auto;
    text-align: center;
    border-bottom: 5px solid $nice_red;
    display: block;
    width: 200px;
}